<ion-header-bar class="bar-positive">
	
</ion-header-bar>

<ion-view title="Entry">
	<ion-content>
		<ion-list class="list" ng-repeat="(dayIndex, day) in logs.logsArray">
			<div class="list card" ng-repeat="item in day.entries | filter: { id: whichEntry }">
				<!-- If it is a regular meal entry -->
				<ion-item class="item-icon-left" ng-show="item.meal">
		          <i class="icon ion-fork"></i>
		          <h2>{{ item.meal }}</h2>
		          <p>{{ item.time }}</p>
		        </ion-item>
		        
		        <!-- If it is just a thought entry -->
		        <ion-item class="item-icon-left" ng-show="!(item.meal || item.purge)">
		          <i class="icon ion-chatbubble-working"></i>
		          <h2>Thought</h2>
		          <p>{{ item.time }}</p>
		        </ion-item>

		        <!-- If it is just a purge entry -->
		        <ion-item class="item-icon-left" ng-show="!(item.meal || !item.purge)">
		          <i class="icon ion-alert"></i>
		          <h2>Purge</h2>
		        </ion-item>

		        <ion-item ng-show="item.food">
		        	<h3>Food &amp; Drink</h3>
		        	<p>{{ item.food }}</p>
		    	</ion-item>

		    	<ion-item ng-show="item.thoughts">
		        	<h3 ng-show="item.meal || item.purge">Thoughts</h3>
		        	<p>{{ item.thoughts }}</p>
		    	</ion-item>

		    	<ion-item ng-show="item.location">
		        	<h3>Location</h3>
		        	<p>{{ item.location }}</p>
		    	</ion-item>

		    	<ion-item ng-show="item.people">
		        	<h3>Who you ate with</h3>
		        	<p>{{ item.people }}</p>
		    	</ion-item>

		    	<ion-item ng-show="item.binge">
		        	<p><i class="ion-alert"></i> Binge</p>
		    	</ion-item>

		    	<ion-item ng-show="!(!item.purge || !item.meal)">
		        	<p><i class="ion-alert"></i> Purge</p>
		    	</ion-item>

		    	<ion-item>
		        	<a class="button button-icon icon ion-edit" href="#menu/input/{{ item.id }}"></a>
		        	<a class="button button-icon icon ion-trash-b" ng-click="onItemDeleteDetailed(dayIndex, item)" style="float: right;"></a>
		    	</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>