<ion-view view-title="Goals" hide-back-button="true">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
	<div class = "bar bar-subheader">
		<button class="button button-block button-positive" ng-click="goalIn()"><i class="icon ion-plus"></i> Add a new goal</button>
	</div>
	<ion-content class="has-subheader">
    <ion-list>
      <!-- Upcoming Goals -->
      <div class="list card">
        <ion-item class="item-icon-left">
          <i class="icon ion-ribbon-a"></i>
          <h2>Upcoming Goals</h2>
        </ion-item>
        <ion-item class="item-text-wrap" ng-repeat="item in goals | orderBy:'date'" ng-if="item.date >= todaysDate('/')">
          <h2>{{ item.goal }}</h2>
          <p>{{ getDisplayDate(item.date) }}</p>
          <!-- Need to implement these -->
          <ion-option-button class="button-calm ion-edit" ng-click="changePageToEditGoal(item.id)">
          <ion-option-button class="button-assertive ion-trash-b" ng-click="deleteGoal(item)">
        </ion-item>
      </div>

      <!-- Past Goals -->
      <div class="list card">
        <ion-item class="item-icon-left">
          <i class="icon ion-clock"></i>
          <h2>Past Goals</h2>
        </ion-item>
        <ion-item class="item-icon-right item-text-wrap" ng-repeat="item in goals | orderBy:'date':true" ng-if="item.date < todaysDate('/')">
          <h2>{{ item.goal }}</h2>
          <p>{{ getDisplayDate(item.date) }}</p>
          <i ng-show="item.completed" class="icon ion-checkmark balanced"></i>
          <i ng-show="!item.completed" class="icon ion-close assertive"></i>
          <!-- Need to make these work with localStorage -->
          <ion-option-button ng-show="!item.completed" class="button-balanced ion-checkmark" ng-click="item.completed=true;updateGoals()">
          <ion-option-button ng-show="item.completed" class="button-assertive ion-close" ng-click="item.completed=false;updateGoals()">
        </ion-item>
      </div>
    </ion-list>
	</ion-content>
</ion-view>