<ion-view view-title="Add a goal">
  <ion-content>
	<ion-list class = "list">

			<div class="item item-divider">
	        	<h2>What is your goal?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea rows="3" ng-model="goalEntry.goal" style="width:100%;"></textarea>
	     	</ion-item>
	     	
	    	<!-- Date -->
	    	<div class="item item-divider">
	        	<h2>When?</h2>
	     	</div>
			<div class="button-bar">
	     		<a class="button" ng-repeat="date in goalDates" ng-class="{'active': activeButton == $index}" ng-click="setActiveButton($index); setTimeOther($index); setTimeIndex($index);">{{date}}</a>
			</div>
			<label class="item item-input" ng-show="timeOther==true">
		     	<i class="icon ion-calendar placeholder-icon"></i>
  				<input type="date" id="goalDate" ng-model="goalDatePicker" min="{{ todaysDate('-') }}">
		    </label>
		</ion-list>
	</ion-list>

  	<a class="button button-block button-positive" href="#/menu/success" ng-click="submitGoal()">Submit</a>
  </ion-content>
</ion-view>