<ion-view title="Help" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="help">
    <h3>What does each page contain?</h3>

    <p><b>Settings</b>: This is where you can set the details of your clinician, generate a self-monitoring sheet based on you logs, send an email to your clinician and enable/disable notifications from the app.</p>
    <p><b>Home</b>: This is where your goals and logs of today will be displayed. You can tap on them to see more details. Tapping one of the buttons at the bottom of the page will let you add a new entry.</p>
    <p><b>Logs</b>: "Logs" page is where you can see all of the entries that you have made. You can tap on each of the entries to see in more details and edit or delete. To view the entries you've made on a specific date, select the date by tapping on the search bar at the top of Logs page. Additionally you can edit/delete an entry by swipe left on each one until you see the 2 buttons on the right.</p>
    <p><b>Goals</b>: "Goals" allow you to view your past and upcoming goals. You can set and edit your goals. You can choose to see the completion of each goals in the settings.</p>
  	</br>
    <h3>Is Eating Disorder Monitor for me?</h3>
    <p>You can think of My Food Diary as a diary for your diet. My Food Diary is not a fitness record. Therefore you do not have to worry about the calories or whether the food you eat is healthy for you.</p>
    <p>Our app helps you cure bad eating pattern and based entirely on self-monitoring. Self-monitoring involves recording your daily food intake, and any eating disordered behaviours, plus any thoughts/feelings you were having at the time.</p>
    <p>With self-monitoring, you can notice the pattern in your eating habits and find out the cause of the eating disorder. Hence you can take care of the matter yourself or consult your clinician.</p>
  	</br>
  	<h3>How often is my data collected?</h3>
  	<p>If you haven't input your clinician details on "Settings" page, your data will not be sent to anyone. We believe having you data sent to a clinician may put some stress on your journey to a normal eating habit. Therefore we let you choose whether or not to send your details to your clinician. 
  	</br>
  	Should you choose to input your clinician details, your clinician will receive the data from "Logs" on a weekly basis.</p>
    </br>
    <h3>Should I add the clinician details?</h3>
    <p>Although it's not mandatory, we highly encourage you to send your data to a clinician you trust so that you can have a better analysis and constructive feedback from a professional. These factors will help speed up the process of recovery from an eating disorder and possibly develop a healthy eating pattern for you in the long run.</p>
    </br>
    <h3>How should I log my meals?</h3>
    <p>As soon as possible, preferrably in "real-time". Don't try to remember and log all of your meals at the end of the day, there's a good chance that you will forget little details and input false data. Additionally, adding entry while you are eating will allow you to take the picture of your food which is always a good thing.</p>
    </br>
    <h3>Is my data private?</h3>
    <p>Your data is only stored locally on your phone storage. Therefore it is secure unless you lost your phone and the person who has your phone knows the passcode to access your phone. Should you choose to send your data, it will be sent to your clinician via email which is as secure as it gets.</p>
    </br>
    <h3>Do I use this app and cure my eating disorder alone?</h3>
    <p>We highly encourage you to share your logs with your clinician. However, should you choose not to share anything, please go see your clinician regularly so they can see your progress and conditions</p>
    </br>
    <h3>Should I get any medication</h3>
    <p>Unless instructed by your clinician, please <b>DO NOT</b> use any form of drugs, they might do more harm than good.</p>
  </ion-content>
</ion-view>