<ion-view title="Help" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="help">
    <h4>What does each page contain?</h4>

    <p><b>Settings</b>: This is where you can set the details of your clinician, generate a self-monitoring sheet based on you logs, send an email to your clinician and enable/disable notifications from the app.</p>
    <p><b>Home</b>: This is where your goals and logs of today will be displayed. You can tap on them to see more details. Tapping one of the buttons at the bottom of the page will let you add a new entry.</p>
    <p><b>Logs</b>: "Logs" page is where you can see all of the entries that you have made. You can tap on each of the entries to see in more details and edit or delete. To view the entries you've made on a specific date, select the date by tapping on the search bar at the top of Logs page. Additionally you can edit/delete an entry by swipe left on each one until you see the 2 buttons on the right.</p>
    <p><b>Goals</b>: "Goals" allow you to view your past and upcoming goals. You can set and edit your goals. You can choose to see the completion of each goals in the settings.</p>
    <h4>Is My Food Diary for me?</h4>
    <p>You can think of My Food Diary as a diary for your diet. My Food Diary is not a fitness record. Therefore you do not have to worry about the calories or whether the food you eat is healthy for you.</p>
    <p>Our app helps you cure bad eating pattern and based entirely on self-monitoring. Self-monitoring involves recording your daily food intake, and any eating disordered behaviours, plus any thoughts/feelings you were having at the time.</p>
    <p>With self-monitoring, you can notice the pattern in your eating habits and find out the cause of the eating disorder. Hence you can take care of the matter yourself or consult your clinician.</p>
  	<h4>How often is my data collected?</h4>
  	<p>Should you want to send out the logs of your recent meals, just press "New Self-monitoring Sheet" button, if an alert appears then that means the report creation has been successful.
    </br>
    If you don't want to send the report, just easily delete it from your email.
    </p>
    <h4>Should I add the clinician details?</h4>
    <p>Although it's not mandatory, we highly encourage you to save your clinician data so that you can easily contact them and have a better analysis and constructive feedback from a professional. These factors will help speed up the process of recovery from an eating disorder and possibly develop a healthy eating pattern for you in the long run.</p>
    <h4>How should I log my meals?</h4>
    <p>As soon as possible, preferrably in "real-time". Don't try to remember and log all of your meals at the end of the day, there's a good chance that you will forget little details and input false data.</p>
    <h4>Is my data private?</h4>
    <p>Your data is only stored locally on your phone storage. Therefore it is secure unless you lost your phone and the person who has your phone knows the passcode to access your phone. Should you choose to send your data, it will be sent to your clinician via email which is as secure as it gets.</p>
    <h4>Do I use this app and cure my eating disorder alone?</h4>
    <p>We highly encourage you to share your logs with your clinician. However, should you choose not to share anything, please go see your clinician regularly so they can see your progress and conditions</p>
    <h4>Should I get any medication</h4>
    <p>Unless instructed by your clinician, please <b>DO NOT</b> use any form of drugs, they might do more harm than good.</p>
  </ion-content>
</ion-view>