<ion-view view-title = "Home" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list ng-repeat="(dayIndex, day) in logs.logsArray | orderBy:'date':true | filter:todaysDate('/')">

      <div class="list card" ng-repeat="date in goals | filter:todaysDate('/')">
        <ion-item class="item-icon-left item-text-wrap" href="#/menu/goals">
          <i class="icon ion-ribbon-a"></i>
          <h2>Today's Goals</h2>
        </ion-item>
        <ion-item ng-show="date.goals.length">
          <p ng-repeat="item in date.goals">{{ item.goal }}</p>
        </ion-item>
        <ion-item ng-show="!date.goals.length" href="#/menu/goals">
          <p>No goals for today. Tap here to add one</p>
        </ion-item>
      </div>

      <div class = "list card">
        <ion-item class="item-icon-left" href="#/menu/logs">
          <i class="icon ion-fork"></i>
          <h2>Today's Entries</h2>
        </ion-item>

        <ion-item ng-repeat="item in day.entries | orderBy:'time'">
            <h2>{{ item.meal }} <span class="subtle">{{ item.time }}</span></h2>
            <p>{{ item.food }}</p>
            <p ng-show="item.thoughts"><span class="subtle">Thoughts: {{ item.thoughts }}</span></p>
        </ion-item>
        <ion-item ng-show="!day.entries.length" class="item-text-wrap">
          <p>No entries added today. Tap the button below to add an entry.</p>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
  <div class = "bar" style="position: absolute; bottom: 0px; width: 100%">
    <div class="button-bar">
      <a class="button button-positive button-outline icon icon-left ion-chatbubble-working" href = "#/menu/input_thoughts">Thoughts</a>
      <a class="button button-positive button-outline icon icon-left ion-fork" href = "#/menu/input">Add Entry</a>
      <a class="button button-positive button-outline icon icon-left ion-sad" href = "#/menu/input_purge">Purge</a>
    </div>
  </div>
</ion-view>