<ion-header-bar class="bar-positive">
	
</ion-header-bar>

<ion-view title="Add Thoughts">
	<ion-content>
		<ion-list class="list">
		    <ion-item class="item-text-wrap">
		    	<p>It can be helpful to record your thoughts and feelings throughout the day whether this is about food or not. Understanding how your thoughts and feelings interact with you food and weight issues is important. You can keep a note of how you are feeling throughout the day here.</p>
		    </ion-item>
		    <!-- Thoughts -->
			<div class="item item-divider">
	        	<h2>Any thoughts?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea ng-model="entry.thoughts" rows="3" style="width:100%;"></textarea>
	     	</ion-item>

	     	<ion-item>
	     		<a class="button button-block button-positive" ng-click="submit(false, false)">
					Submit
				</a>
	     	</ion-item>
		</ion-list>

		
		
	</ion-content>
	<!-- Submit -->
<!-- 		<div class="padding" style="position: absolute; bottom: 0px; width: 100%">
			<a class="button button-block button-positive" ng-click="submit(false, false)">
				Submit
			</a>
		</div> -->
</ion-view>