<ion-header-bar class="bar-positive">
	
</ion-header-bar>

<ion-view title="Add Thoughts">
	<ion-content>
		<ion-list class="list">
		    <ion-item class="item-text-wrap">
		    	<p>How are you feeling? You don't just have to add entries for a meal. It's a good idea to keep track of any thoughts you have throughout the day.</p>
		    </ion-item>
		    <!-- Thoughts -->
			<div class="item item-divider">
	        	<h2>Any thoughts?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea rows="3" style="width:100%;"></textarea>
	     	</ion-item>
		</ion-list>

		
		
	</ion-content>
	<!-- Submit -->
		<div class="padding" style="position: absolute; bottom: 0px; width: 100%">
			<a class="button button-block button-positive" href="#/menu/success">
				Submit
			</a>
		</div>
</ion-view>