<ion-header-bar class="bar-positive">
	
</ion-header-bar>

<ion-view title="Record purge">
	<ion-content>
		<ion-list class="list">
	    	<!-- Time -->
	    	<div class="item item-divider">
	        	<h2>When did you purge?</h2>
	     	</div>
	     	<div class="button-bar">
	     		<a class="button time-button" ng-repeat="time in timeButtons" ng-class="{'active': activeButton == $index}" ng-click="setActiveButton($index); setTimeOther($index); setTimeIndex($index)">{{time}}</a>
			</div>
			<label class="item-input-wrapper" ng-show="timeOther==true">
		     	<i class="icon ion-clock placeholder-icon"></i>
		     	<input type="time" ng-model="timePickerValue.value" name="timeInput" id="timePicker" placeholder="HH:mm" min="00:00" max="getCurrentTime()" />
		    </label>

		    
		    <!-- Thoughts -->
			<div class="item item-divider">
	        	<h2>Thoughts and feelings</h2>
	     	</div>
	     	<ion-item>
	     		<textarea rows="2" ng-model="entry.thoughts" style="width:100%;"></textarea>
	     	</ion-item>
		</ion-list>		
	</ion-content>

	<!-- Submit -->
		<div class="padding" style="position: absolute; bottom: 0px; width: 100%">
			<a class="button button-block button-positive" ng-click="submit(true, true)">
				Submit
			</a>
		</div>

</ion-view>