<ion-view title="Add Entry">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
	<ion-content>
		<ion-list class="list">
			<!-- Meal -->
			<div class="item item-divider">
	        	<h2>Which meal did you eat?</h2>
	     	</div>
	     	<div id="mealRadio">
	     		<ion-radio ng-value="'Breakfast'">Breakfast</ion-radio>
				<ion-radio ng-value="'Morning Snack'">Morning Snack</ion-radio>
				<ion-radio ng-value="'Lunch'">Lunch</ion-radio>
				<ion-radio ng-value="'Afternoon Snack'">Afternoon Snack</ion-radio>
				<ion-radio ng-value="'Dinner'">Dinner</ion-radio>
				<ion-radio ng-value="'Evening Snack'">Evening Snack</ion-radio>
	    	</div>

	    	<!-- Time -->
	    	<div class="item item-divider">
	        	<h2>When did you eat?</h2>
	     	</div>
	     	<div class="button-bar">
				<a class="button" ng-click="timeOther=false">10 mins ago</a>
				<a class="button" ng-click="timeOther=false">30 mins ago</a>
				<a class="button" ng-click="timeOther=true">Other</a>
			</div>
			<label class="item-input-wrapper" ng-show="timeOther==true">
		     	<i class="icon ion-clock placeholder-icon"></i>
		     	<input type="time" id="timePicker">
		    </label>

		    <!-- Food and drink -->
			<div class="item item-divider">
	        	<h2>What did you eat and drink?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea rows="2" style="width:100%;">
	     		</textarea>
	     	</ion-item>

	     	<!-- Binge -->
	     	<ion-item>
	     		<p class="padding">Would you class this as an excessive amount?</p>
	     		<ion-toggle toggle-class="toggle-calm">Binge</ion-toggle>
	     	</ion-item>
	        

	     	<!-- Location -->
	     	<div class="item item-divider">
	        	<h2>Where did you eat?</h2>
	     	</div>
	     	<div id="locationRadio">
	     		<ion-radio ng-value="Home">Home</ion-radio>
				<ion-radio ng-value="School, college, uni">School, college, uni</ion-radio>
				<ion-radio ng-value="Work">Work</ion-radio>
				<ion-radio ng-value="Friend's House">Friend's House</ion-radio>
				<ion-radio ng-value="Restaurant, cafe, etc.">Restaurant, cafe, etc.</ion-radio>
				<ion-radio ng-value="Other">Other</ion-radio>
	    	</div>

	    	<!-- People -->
	     	<div class="item item-divider">
	        	<h2>Who did you eat with?</h2>
	     	</div>
	     	<div id="locationRadio">
	     		<ion-radio ng-value="Alone">Alone</ion-radio>
				<ion-radio ng-value="Parents">Parents</ion-radio>
				<ion-radio ng-value="Friends">Friends</ion-radio>
				<ion-radio ng-value="Other">Other</ion-radio>
	    	</div>

	    	<!-- Purge -->
	     	<div class="item item-divider">
	        	<h2>Did this meal cause you to purge?</h2>
	     	</div>
	     	<ion-toggle toggle-class="toggle-calm">Purge</ion-toggle>
		    
		    <!-- Thoughts -->
			<div class="item item-divider">
	        	<h2>Any thoughts?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea rows="2" style="width:100%;">
	     		</textarea>
	     	</ion-item>
		</ion-list>

		<!-- Submit -->
		<button class="button button-block button-positive">
			Submit
		</button>
	</ion-content>
</ion-view>