<ion-header-bar class="bar-positive">
	
</ion-header-bar>

<ion-view title="Add Entry">
	<ion-content>
		<ion-list class="list">
			<!-- Meal -->
			<div class="item item-divider">
	        	<h2>Which meal did you eat?</h2>
	     	</div>
	     	<div id="mealRadio">
	     		<ion-radio ng-repeat="item in meals" ng-model="entry.meal" ng-value="item.meal" name="meal">{{item.meal}}</ion-radio>
	    	</div>

	    	<!-- Time -->
	    	<div class="item item-divider">
	        	<h2>When did you eat?</h2>
	     	</div>
	     	<div class="button-bar">
	     		<a class="button time-button" ng-repeat="time in timeButtons" ng-class="{'active': activeButton == $index}" ng-click="setActiveButton($index); setTimeOther($index); setTimeIndex($index)">{{time}}</a>
			</div>
			<label class="item-input-wrapper" ng-show="timeOther==true">
		     	<i class="icon ion-clock placeholder-icon"></i>
		     	<input type="time" ng-model="timePickerValue.value" name="timeInput" id="timePicker" placeholder="HH:mm" min="00:00" max="getCurrentTime()" />
		    </label>
		    <!-- Food and drink -->
			<div class="item item-divider">
	        	<h2>What did you eat and drink?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea ng-model="entry.food" rows="2" style="width:100%;"></textarea>
	     	</ion-item>

	     	<!-- Binge -->
	     	<ion-item>
	     		<p class="padding">Would you class this as an excessive amount?</p>
	     		<ion-toggle ng-model="entry.binge" toggle-class="toggle-calm">Binge</ion-toggle>
	     	</ion-item>
	        

	     	<!-- Location -->
	     	<div class="item item-divider">
	        	<h2>Where did you eat?</h2>
	     	</div>
	     	<div id="locationRadio">
	     		<ion-radio ng-repeat="location in locations" ng-model="entry.location" name="location" ng-value="location">{{location}}</ion-radio>
	    	</div>

	    	<!-- People -->
	     	<div class="item item-divider">
	        	<h2>Who did you eat with?</h2>
	     	</div>
	     	<div id="personRadio">
	     		<ion-radio ng-repeat="person in people" ng-model="entry.people" name="person" ng-value="person">{{person}}</ion-radio>
	    	</div>

	    	<!-- Purge -->
	     	<div class="item item-divider">
	        	<h2>Did this meal cause you to purge?</h2>
	     	</div>
	     	<ion-toggle ng-model="entry.purge" toggle-class="toggle-calm">Purge</ion-toggle>
		    
		    <!-- Thoughts -->
			<div class="item item-divider">
	        	<h2>Any thoughts or feelings?</h2>
	     	</div>
	     	<ion-item>
	     		<textarea ng-model="entry.thoughts" rows="2" style="width:100%;"></textarea>
	     	</ion-item>
		</ion-list>

		<!-- Submit -->
		<div class="padding">
			<a class="button button-block button-positive" ng-click="submit(true, false)">
				Submit
			</a>
		</div>
		
	</ion-content>
</ion-view>