<ion-view view-title="Logs"  hide-back-button="true">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-calendar placeholder-icon"></i>
      <input type="date" id="datePicker" ng-model="selectedDate" min="2015-01-01" max="{{ todaysDate('-') }}">
    </label>
  </div>
  <ion-content class="has-subheader">
    <ion-list show-delete="logs.entries.showDelete" ng-show="day.entries.length" ng-repeat="(dayIndex, day) in logs.logsArray | orderBy:'date':true | filter:dateFilter()">
      <div class="item item-divider">
        <div class="row">
          <div class="col-75">
            {{ getDisplayDate(day.date) }}
          </div>
          <div class="col-25">
            <p style="text-align:right;">{{getTimeAgo(day.date)}}</p>
          </div>
        </div>
      </div>
      <ion-item ng-repeat="item in day.entries | orderBy:'time'" href="#/menu/logs/{{item.id}}">

          <h2>{{ item.meal }} <span class="subtle">{{ item.time }}</span></h2>
          <p>{{ item.food }}</p>
          <p ng-show="item.thoughts"><span class="subtle">Thoughts: {{ item.thoughts }}</span></p>
          <ion-option-button class="button-calm ion-edit" onclick="window.location.href='#/menu/input';">
          <ion-option-button class="button-assertive ion-trash-b" ng-click="onItemDelete(dayIndex, item)">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>