<!-- <ion-side-menus ng-controller="MainCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        	<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      	<ion-nav-buttons side="secondary">
	        <button class="button button-icon icon ion-ios-gear" ui-sref="menu.settings">
	        	<ion-nav-view name = "settings-page"></ion-nav-view>
	        </button>
      	</ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="home-page"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-list>
        <ion-item menu-close href="#/menu/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/menu/help">
          Help
        </ion-item>
        <ion-item menu-close ui-sref="menu.settings">
          Settings
        </ion-item>
        <ion-item menu-close href="#/menu/goals">
          Goals
        </ion-item>
      </ion-list>
  </ion-side-menu>
</ion-side-menus>

<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Home" icon = "ion-ios-home" href = "#/menu/home">
    <ion-nav-view name="home-page"> </ion-tab>

	<ion-tab title="Logs" icon="ion-android-list" href="#/menu/logs">
	<ion-nav-view name="logs-page"></ion-tab>

	<ion-tab title="Input" icon="ion-edit" href="#/menu/input">
	<ion-nav-view name="input-page"></ion-tab>

	<ion-tab title="Settings" icon = "ion-ios-gear" href = "#/menu/settings">
    <ion-nav-view name="settings-page"></ion-tab>
</ion-tabs> -->

<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close href="#/menu/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/menu/logs">
          Logs
        </ion-item>
        <ion-item menu-close href="#/menu/goals">
          Goals
        </ion-item>
        <ion-item menu-close href="#/menu/input">
          Input
        </ion-item>
        <ion-item menu-close href="#/menu/help">
          Help
        </ion-item>
        <ion-item menu-close href="#/menu/goals">
          Goals
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

