<ion-view view-title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content ng-controller = "PDFController as vm">
    <ion-list>
    <ion-toggle ng-controller="logsCtrl" ng-model="notifications.checked" ng-click="notificationsChanged(notifications.checked)">
        Push Notifications
    </ion-toggle>
    </ion-list>

   <ion-list>
        <div class = "item item-divider item-button-right">Clinician Details
        </div>
        <ion-item ng-click="edit()">
            <h3>{{ "Name:   " + clinician.name }}</h3>
            <h3>{{ "Address:   " + clinician.address }}</h3>
            <h3>{{ "Landline:   " + clinician.landline }}</h3>
            <h3>{{ "Mobile:   " + clinician.mobile }}</h3>
            <h3>{{ "Email:  " + clinician.email}}</h3>
            <h3>{{ "Office Hours:  " + clinician.office }}</h3>
            <ion-option-button class="button-calm ion-edit" ng-click="edit()">
        </ion-item>
        <div class = "item item-divider">App Details</div>
        <ion-item>
            <h2>Version: Pre-Alpha</h2>
            <h2>Created by: Zac and Alasdair</h2>
        </ion-item>
        <button ng-controller = "ClinCtrl" ng-click="sendEmail(clinician.email)" class="button button-icon icon ion-email">
            Send mail
        </button>
        <button class = "button button-block button-outline button-royal" ng-click="vm.createReport()">Create Report</button>
    </ion-list>
  </ion-content>
</ion-view>

<script id="pdf-viewer.html" ng-controller = "PDFController as vm" type="text/ng-template">  
    <ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Sheet</h1> 
        <button ng-click="vm.modal.hide()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>
    <ion-content>
        <ng-pdf ng-if="pdfUrl" template-url="templates/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>  
    </ion-content>
    </ion-modal-view>
</script>  
