<ion-view view-title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content ng-controller = "PDFController as vm">
    <ion-list>
    <ion-toggle ng-controller="logsCtrl" ng-model="notifications" ng-click="notificationsChanged()">
         Notifications
    </ion-toggle>
    </ion-list>

   <ion-list>
        <div class = "item item-divider item-button-right">
            Clinician Details
        </div>
        <ion-item ng-click="edit()">
            <h2><pre>Name:           {{clinician.name}}</pre></h2>
            <h2><pre>Address:        {{clinician.address}}</pre></h2>
            <h2><pre>Landline:       {{clinician.landline}}</pre></h2>
            <h2><pre>Mobile:         {{clinician.mobile}}</pre></h2>
            <h2><pre>Email:          {{clinician.email}}</pre></h2>
            <h2><pre>Office Hours:   {{clinician.office}}</pre></h2>
            <ion-option-button class="button-calm ion-edit" ng-click="edit()">
        </ion-item>
        <button class = "button icon ion-clipboard button-block button-outline button-royal" ng-click="vm.createReport()">
            New Self-monitoring Sheet
        </button>
        <button ng-controller = "SettingsCtrl" ng-click="sendEmail(clinician.email)" class="button button-positive button-block button-outline icon ion-email">
            Send mail
        </button>
        <div class = "item item-divider">App Details</div>
        <ion-item>
            <h2>Version: Beta</h2>
            <h2>Created by: Zac and Alasdair (Team 35)</h2>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
