<ion-side-menus>
    <!-- Center content -->
    <div>
        <ion-side-menu-content>
            <ion-header-bar style="background-color:#B90028">
                <div >
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">www.tutorialsplane.com</h1>
                </div>
 
            </ion-header-bar>
 
            <ion-content scroll="true" >
 
                <div class='content'>  
                    <h2> Main Content </h2>
                    <p>Dummy Content...</p>
                </div>
 
 
 
            </ion-content>
        </ion-side-menu-content>
        <ion-side-menu>
            <div class="menu-wrapper ">
                <ul class="list">
                    <li class="item">Item 1</li>
                    <li class="item">Item 2</li>
                    <li class="item">Item 3</li>
                    <li class="item">Item 4</li>
                    <li class="item">Item 5</li>
                    <li class="item">Item 6</li>
                    <li class="item">Item 7</li>
                </ul>
            </div>
        </ion-side-menu>
</ion-side-menus>