/* Empty. Add your own CSS if you like */
.subtle {
	font-size: 90%;
	color: #999999;
}

.center-text {
   text-align: center;
}

.help{
	padding: 30px 40px 30px 30px;
}

.intro {
	padding: 100px 30px 60px 30px;
}

.input-button {
	font-size: 0.8em;
}

.time-button {
	font-size: 1em;
}

textarea {
	resize:none;
}

.Cdetails{
    white-space:pre;
}